.main-heading {
  text-align: center;
  font-size: var(--font-size-xl);
  line-height: var(--line-height-xl);
  font-weight: var(--font-weight-extra-bold);
  margin-bottom: 40px;
}

.main {
  margin-top: auto;
}

.button {
  box-sizing: border-box;
  width: 100%;
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px var(--content-padding);
  border-radius: 28px;
  border: 1px solid transparent;
}

.continue {
  margin-bottom: 44px;
  background-color: var(--white);
  color: var(--dark-blue);

  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  font-weight: var(--font-weight-semi-bold);

  @media (max-height: 736px) {
    margin-bottom: 28px;
  }
}

@media (max-height: 547px) {
  .main-heading {
    margin-bottom: 16px;
    font-size: calc(var(--font-size-xl) * 0.95);
    line-height: 2rem;
  }
  .continue {
    margin-bottom: 16px;
  }
}
