.nav {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: var(--font-weight-normal);
  letter-spacing: 0.5px;
}

.list {
  width: 75%;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: center;
  color: var(--white-50);
  white-space: nowrap;
}

html[lang='fr'] .list,
html[lang='de'] .list {
  letter-spacing: 0.1px;
}
