.feature {
  position: relative;
  height: 140px;
  width: 105px;
  overflow: hidden;
}

.picture {
  display: block;
  position: absolute;
  left: -1px;
  top: -1px;
  height: calc(100% + 2px);
  width: calc(100% + 2px);
}

.image {
  border: 1px solid var(--white-20);
  border-radius: 16px;
}

.content {
  position: absolute;
  display: flex;
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0px;
  left: 0px;
}

.text {
  width: 100%;
  margin-top: auto;
  padding: 0px 7px 11px;
  box-sizing: border-box;
  font-size: var(--font-size-xs);
  line-height: var(--line-height-xs);
  font-weight: var(--font-weight-normal);
  text-align: left;
  white-space: nowrap;
}
