.selector {
  position: relative;
  background: var(--white-10);
  font-size: var(--font-size-m);
  line-height: var(--line-height-m);
  color: var(--white);
}

.title {
  font-weight: var(--font-weight-semi-bold);
}

.annual-price,
.per-week-price {
  font-weight: var(--font-weight-normal);
  color: rgba(255, 255, 255, 0.7);
}

div.selector-active {
  background: var(--white-30);
  border: 1px solid var(--white);
}

:root[lang='pt'] .annual-price {
  font-size: calc(var(--font-size-m) * 0.9);
}

:root[lang='fr'] .annual-price {
  font-size: calc(var(--font-size-m) * 0.9);
}

.selector:nth-child(2) {
  margin-top: 8px;
}

.wrapper {
  text-align: left;
  flex: 1 0 53%;
  padding-right: 10px;
}

.best-offer {
  position: absolute;
  white-space: nowrap;
  display: flex;
  align-items: center;
  height: 20px;
  top: -12px;
  right: var(--content-padding);
  background-color: var(--white);
  margin-left: auto;
  box-sizing: border-box;
  border-radius: 28px;
  padding: 2px var(--content-padding);

  color: var(--dark-blue);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  font-weight: var(--font-weight-bold);
}

.per-week-price {
  flex: 1 0 auto;
}
