.wrapper {
  height: 100%;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;

  padding-top: calc(var(--sat) + var(--content-padding));
  padding-right: calc(var(--sar) + var(--content-padding));
  padding-bottom: max(var(--sab), 10px);
  padding-left: calc(var(--sal) + var(--content-padding));

  background-image: image-set(
    url('./assets/images/bg_9:19.5@2x.png?as=jpg') 2x,
    url('./assets/images/bg_9:19.5@3x.png?as=jpg') 3x
  );

  background-color: var(--dark-blue);
  background-size: cover;
  background-repeat: no-repeat;

  @media (max-height: 736px) and (max-width: 414px) {
    padding-top: calc(var(--sat) + 12px);
    background-image: image-set(
      url('./assets/images/bg_9:16@2x.png?as=jpg') 2x,
      url('./assets/images/bg_9:16@3x.png?as=jpg') 3x
    );
  }
}

@supports (
  background-image:
    url('data:image/webp;base64,UklGRhYAAABXRUJQVlA4IBYAAAAwAQCdASoEAAQAASpI/gAAAAPpAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA=')
) {
  .wrapper {
    background-image: image-set(
      url('./assets/images/bg_9:19.5@2x.png?as=webp') 2x,
      url('./assets/images/bg_9:19.5@3x.png?as=webp') 3x
    );

    @media (max-height: 736px) and (max-width: 414px) {
      background-image: image-set(
        url('./assets/images/bg_9:16@2x.png?as=webp') 2x,
        url('./assets/images/bg_9:16@3x.png?as=webp') 3x
      );
    }
  }
}
